extends ../shared/template
block content

  h2 Create a New Task


  form(method='post', action='/tasks')
    label Name
    input(name="name", type="text", placeholder="Milk/Laundry", autofocus=true)
    br
    label Due
    input(name="due", type="date")
    br
    label Photo
    input(name="photo", type="text")
    br
    label Tags
    input(name="tags", type="text", placeholder="homework, chores")
    br
    select(name='priorityId')
      each priority in priorities
        option(value="#{priority._id}")= priority.name
    button Add Task

