doctype html
html
  head
    meta(charset='utf-8')
    title Task-Master
    link(rel='stylesheet', href='/css/style.css')
  body
    h1 To-Do App
    nav
      ul
        li: a(href='/tasks') Task List
        li: a(href='/tasks/new') New Task
        li: a(href='/priorities/new') Create Priority
        li: a(href='/priorities') Priority List

    block content
