doctype html
html
  head
    meta(charset='utf-8')
    title Task-Master
    link(rel='stylesheet', href='/css/style.css')
  body
    h1 To-Do App
    nav
      ul
        li: a(href='/') Task List
        li: a(href='/index') New Task
        li: a(href='/?') Create Priority
        li: a(href='/?') Priority List

    block content
